<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Fantastic Game</title>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="./resource/css" rel="stylesheet" type="text/css">
<link href="./resource/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="./resource/simple-line-icons.min.css" rel="stylesheet" type="text/css">
<link href="./resource/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="./resource/main.css" rel="stylesheet" type="text/css">
<link href="./resource/components.css" rel="stylesheet" type="text/css">

<script src="./libs/jquery-2.0.2.min.js" type="text/javascript"></script>
	
</head>
<body class="main">

<div class="content">

	<!-- BEGIN LOGIN FORM -->
<form action="/login" class="login-form"  method="post" accept-charset="utf-8" autocomplete="off">

	<h3 class="form-title">Login to your account</h3>
	
		
		<div class="form-group"><label for="UserEmail"></label><div class="input-icon"><i class="fa fa-envelope"></i><input name="username" class="form-signin form-control" placeholder="Email or Username" maxlength="64" id="UserEmail" value=""></div></div>
		<div class="form-group"><label for="UserPassword"></label><div class="input-icon"><i class="fa fa-lock"></i><input name="password" class="form-signin form-control" placeholder="Password" type="password" id="UserPassword" value=""></div></div>		<div class="form-actions">
		<button type="submit" class="btn blue pull-right">Login </button><br>
		
		</div>
		
		<div class="create-account">
		<p>
            Don't have an account yet ?&nbsp; <a href="register" id="register-btn">
            Create an account </a>
		</p>

	    </div>
</form><!-- END LOGIN FORM -->


</div>
</body></html>
