<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href='https://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>

    <link href="../css/styles.css" rel="stylesheet">

    <link href="../css/style.css" rel="stylesheet">

    <div class="mainScreenWrapper">
        <div class="header">
            <div class="info user-name">Welcome Tran Viet!</div>
            <button class="btn btn-logout"><a href="/logout" style="text-decoration: none;">Logout</a></button>
        </div>
        <div class="middle">
            <button class="btn create-room">Create Room</button>
        </div>

        <div class="block">
            <div class="tab info">Users Online</div>
            <div class="table">
                <div class="row first">

                    <div class="info user-name">User 1</div><div class="description"> is available </div>
                    <button class="btn btn-row">Invite</button>

                </div>
                <div class="row">

                    <div class="info user-name">User 1</div><div class="description"> created room </div>
                    <button class="btn btn-row">Join</button>

                </div>
                <div class="row">

                    <div class="info user-name">User 1</div><div class="description"> created room </div>
                    <button class="btn btn-row">Join</button>

                </div>
                <div class="row">

                    <div class="info user-name">User 1</div><div class="description"> is available </div>
                    <button class="btn btn-row">Invite</button>

                </div>

            </div>
        </div>
    </div>


</head>
<body>

</body>
</html>